@import 'basic';

/* --------------------------------------------
HELPERS
----------------------------------------------*/

.p0 {
	padding: 0;
}
.m0 {
	margin: 0;
}
.uppercase {
	text-transform: uppercase;
}
.text-white {
	color: $white !important;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.bg-white {
	background-color: $white !important;
}
.light-bg {
	background: $lightGray !important;
}
.prel {
	position: relative;
}

/* --------------------------------------------
BASIC STYLE
----------------------------------------------*/

html {
	font-size: 100%;
}
body {
	font-family: $bodyFont;
	line-height: 1.6;
	color: $black;
}
.clear {
	display: block;
	position: relative;
	margin-bottom: 3.0em;
	clear: both;
}
h1 {
	font-family: $titleFont;
	font-style: normal;
	font-weight: 300;
	color: $black;
	font-size: 2.6rem;
	em:after {
		height: 0.9rem;
		bottom: 1.5rem;
	}
}

h2 {
	font-family: $titleFont;
	font-style: normal;
	font-weight: 300;
	color: $black;
	font-size: 2.4rem;
	em:after {
		height: 0.7rem;
		bottom: 0.5rem;
	}
}

h3 {
	font-family: $titleFont;
	font-style: normal;
	font-weight: 300;
	color: $black;
	font-size: 1.9rem;
	em:after {
		height: 0.6rem;
		bottom: 0.3rem;
	}
}

h4 {
	font-family: $titleFont;
	font-style: normal;
	font-weight: 300;
	color: $black;
	font-size: 1.125rem;
	em:after {
		height: 0.4rem;
		bottom: 0.3rem;
	}
}

h5 {
	font-family: $titleFont;
	font-style: normal;
	font-weight: 300;
	color: $black;
	font-size: 0.9rem;
	em:after {
		height: 0.3rem;
		bottom: 0;
	}
}

h6 {
	font-family: $titleFont;
	font-style: normal;
	font-weight: 300;
	color: $black;
	font-size: 0.8rem;
	em:after {
		height: 0.3rem;
		bottom: 0;
	}
}

ul {
	padding: 0;
	margin-left: 2em;
	li {
    @include bodyFont();
		list-style: none;
		list-style-type: none;
	}
}
p {
  @include bodyFont();
	color: $black;
	text-transform: none;
	overflow: hidden;
	width: 100%;
}
a {
  @include bodyFont();
	color: $black;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
em {
	font-family: $titleFont;
	font-weight: 700;
	z-index: 0;
	position: relative;
	&:after {
    @include pos(absolute, null, null, 0, 0);
		content: " ";
		width: 100%;
		z-index: -1;
		background-color: rgba(59, 140, 169, 1);
	}
}
.grid-container {
	padding-right: 2em;
	padding-left: 2em;
	margin: 0 auto;
}
.main-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: table;
	table-layout: fixed;
}
.cell-spacing-mb30 {
	margin-bottom: 1.875em;
	width: auto;
}
section {
	position: relative;
	padding: 2em;
}
.sectionTitle {
	padding-bottom: 2rem;
}

.dark-bg {
	background-color: $lightBlue;
}

/* --------------------------------------------
HEADER SECTION
----------------------------------------------*/

header {
  @include pos(fixed, 0, 0, null, 0);
	width: 100%;
	z-index: 9999;
	text-align: center;
	color: $white;
	background: none;
	font-family: $titleFont;
	&.small {
		background: $white;
		border-bottom: 1px solid $transparentBlack;
		a {
			color: $black;
		}
		.lateralMenu .title {
			color: $black;
		}
		.lateralMenu a {
			background-color: $transparentBlack;
			&:hover {
				color: $white;
			}
		}
		.mobile-icon {
			span {
        @include tDelay(0);
        background-color: $black;
				&:before {
          @include tDelay(0);
					background-color: $black;
				}
				&:after {
          @include tDelay(0);
					background-color: $black;
				}
			}
			&.active span {
        @include tDelay(0.2s, 0);
				background-color: transparent;
			}
		}
	}

	&.menu {
    @include transition(all 0.3s ease);
	}
}
.top-bar {
	padding-left: 2em;
	padding-right: 2em;
	background-color: transparent !important;
	ul {
		background-color: transparent !important;
	}
	a {
		color: $white;
		font-weight: 700;
		font-size: 1.1rem;
	}
	&.vertical {
		background-color: $black;
	}
}

.title-bar {
	background: none;
	padding: 1em;
}
.menu {
	&.vertical {
		padding-left: 1em;
		margin-top: 2em;
		a {
			display: inline-block;
			color: $white;
			&:hover {
				color: $white;
			}
			&:active {
				color: $white;
			}
			&:focus {
				color: $white;
			}
		}
	}
	&.hover li {
		&:hover a:before {
      @include scaleXtransY(1, -50%);
		}
		&.active a:before {
      @include scaleXtransY(1, -50%);
		}
		a:before {
			content: '';
      @include tOrigin(left center);
      @include scaleXtransY(0, -50%);
      @include tTransform(400ms cubic-bezier(1, 0, 0, 1) 0ms);
      @include pos(absolute, 65%, 0, null, 5%);
      display: block;
			height: 0.5em;
			background: $lightBlue;
      z-index: -1;
		}
	}
}
.off-canvas {
	background-color: $black;
}
.mobile-icon {
	padding: 1rem !important;
	span {
    @include tDuration(0s);
    @include tDelay(0, 0.2s);
		width: 35px;
		height: 4px;
		background-color: $white;
    display: block;
		&:before {
      @include tProperty();
      @include tDuration(0.2s);
      @include tDelay(0.2s, 0s);
			position: absolute;
			content: '';
			width: 35px;
			height: 4px;
			background-color: $white;
			display: block;
      margin-top: -11px;
		}
		&:after {
      @include tProperty();
      @include tDuration(0.2s);
      @include tDelay(0.2s, 0s);
			position: absolute;
			content: '';
			width: 35px;
			height: 4px;
			background-color: $white;
			display: block;
      margin-top: 11px;
		}
	}
	&.active span {
    @include tDelay(0.2s, 0s);
    background-color: transparent;
		&:before {
      @include tRotate(45deg);
      @include tDelay(0s, 0.2s);
			margin-top: 0;
		}
		&:after {
      @include tRotate(-45deg);
      @include tDelay(0s, 0.2s);
      margin-top: 0;
		}
	}
}
.logo {
	opacity: 0;
	width: 50%;
	img {
    @include transition(all 0.2s ease-in-out);
    @include tDelay(0.2s);
	}
}

header.small .logo {
	opacity: 1;
}

/* --------------------------------------------
LATERAL MENU
----------------------------------------------*/

.lateralMenu {
	@include pos(fixed, 30%, null, null, 0);
	z-index: 100;
}
.lateralMenu li{
	list-style: none;
	list-style-position: outside;
	display: block;
	height: 48px;
	width: 48px;
	position: relative;
}

.lateralMenu a {
	background: #fff;
	background: rgba(255, 255, 255, 0.15);
	height: 48px;
	width: 48px;
	display: block;
	text-align: center;
	font-size: 22px;
	padding-top: 0.4rem;
	color: #fff;
	opacity: 1;
	position: relative;
	z-index: 1;
	@include transition(0.2s)
}

.lateralMenu ul li {
	position: relative;
}
.lateralMenu ul li:after,
.lateralMenu a:after {
	@include pos(absolute, 0, 0, 0, 0);
	position: absolute;
	content: "";
	background: rgba(255,255,255,0);
	border-radius: 100%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	@include transition (0.2s cubic-bezier(0.215, 0.61, 0.355, 1));
	z-index: -1;
}
.lateralMenu ul li.active:after,
.lateralMenu a:hover:after{
	-webkit-transform: none;
	transform: none;
	border-radius: 0;
	background: rgba(255,255,255,0.15);
	background: $lightBlue;
}
.lateralMenu ul li.active:after{
	background: rgba(230, 230, 230, 0.12);
}
.lateralMenu a.marked{
	color: #fff;
	background: $lightBlue;
}
.lateralMenu .title{
	position: absolute;
	font-size: 1rem;
	font-weight: 700;
	left: 56px;
	top: 17px;
	color: #fff;
	font-family: $titleFont;
	text-transform: uppercase;
	text-align: left;
	width: 12rem;
	border-bottom: 1px solid;
	display: block;
	@include transition(0.3s);
	transform: translateX(10px);
	visibility: hidden;
	opacity: 0;
}
.lateralMenu li:hover .title{
	-webkit-transform: none;
	transform: none;
	display: block;
	opacity: 1;
	visibility: visible;
}

	.lateralMenu a.active{
		background-color: rgba(230, 230, 230, 0.12);
	}
/* --------------------------------------------
VIDEO COVER
----------------------------------------------*/

.homeLogo {
	width: 60%;
	padding-bottom: 7rem;
}

.video-bg {
  @include pos(absolute, 0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: -3;
}
video {
	width: 100vw;
	object-fit: cover;
	height: 100vh;
}
#video-background {
	padding: 4em 0;
	height: 100vh;
}
.button {
  @include transition(all 0.3s ease);
	position: relative;
	&.play {
		width: 4.5rem;
		height: 4.5rem;
		cursor: pointer;
		border-radius: 50%;
		box-shadow: 0 0 1rem 0 $shadow;
		&:hover {
			background: $darkBlue !important;
			transform: scale(1.1) !important;
		}
		&:before {
      @include transition(all 0.5s ease);
      @include pos(absolute, 50%, null, null, 52%);
			-webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
			content: '';
			border-style: solid;
			border-width: 0.6rem 0 0.6rem 1.1rem;
			border-color: transparent transparent transparent $white;
		}
	}
	&.filled {
		color: $white;
		background: $lightBlue;
	}
}

.videoArea {
	position: relative;
}


.scroll-button {
	position:absolute;
	bottom:0;
	left:50%;
	display:inline-block;
	padding:.83333rem;
	font-family: $titleFont;
	font-size: 1rem;
	font-weight:900;
	letter-spacing:.05em;
	text-align:center;
	text-transform:uppercase;
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index:10;
	.icon {
		display:block;
		animation:scrollDown 2s infinite;
	}
   }
   @media only screen and (min-width:769px) {
	.scroll-button {
	 padding:1.66667rem 2.5rem
	}
   }
   .scroll-button:hover {
	color:#fff;
	background-color:rgba(0,0,0,.65)
   }

   @keyframes scrollDown {
	0%,20%,50%,80%,to {
	 transform:translateY(0)
	}
	40% {
	 transform:translateY(-.38889rem)
	}
	60% {
	 transform:translateY(-.16667rem)
	}
   }

/* --------------------------------------------
ABOUT SECTION
----------------------------------------------*/



/* --------------------------------------------
IMAGES
----------------------------------------------*/

.imageContainer {
	width: 70%;
	padding-top: 1em;
}

/* --------------------------------------------
CAST SECTION
----------------------------------------------*/

.cast-container {
	margin: 0 0 -1px 0;
	cursor: pointer;
	padding: 0 !important;
	overflow: hidden;
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  @include tTransform(0.4s ease 0.5s, opacity 0.4s ease 0.5s);
	.vertical-caption {
    @include pos(absolute, 4.0rem, null, null, 2.5rem);
		text-align: right;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
    @include tRotate(180deg);
		h5 {
			font-size: 1.0rem;
			color: $white;
			line-height: 1.1;
			font-weight: 500;
			text-transform: uppercase;
			margin: 0;
		}
	}
	.cast-container-inner {
    height: 100%;
    @include transition(all 0.35s ease-out);
		img {
			width: 100%;
		}
		&:hover {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			&:before {
				opacity: 0.1;
			}
			.cast-link {
				-webkit-transform: scale(1) !important;
				transform: scale(1) !important;
			}
		}
		&:before {
      @include transition(all 0.35s ease-out);
		}
		.cast-link {
      @include pos(absolute, null, 0, 3em, 0);
      @include transition(all 0.35s ease-out);
			width: 100%;
			text-align: center;
			-webkit-transform: scale(0);
      transform: scale(0);
			a {
				text-decoration: none;
			}
			h5 {
				font-size: 0.93rem;
				color: $white;
				margin-top: 0;
				margin-bottom: 0;
			}
			&:hover p {
				font-weight: 700;
			}
		}
	}
}

.vertical-caption p {
	font-size: 1em;
	color: $white;
	margin: 0;
}

/* --------------------------------------------
GALLERY
----------------------------------------------*/
#gallery {
	padding-bottom: 0;
}
.galleryArea {
	padding: 0;
	.sectionTitle {
		margin-bottom: 2em;
	}
}
.galleryItem {
	position: relative;
	overflow: hidden;
	margin: 0;
	background: $black;
	text-align: center;
	cursor: pointer;
	a {
		position: relative;
		display: block;
		z-index: 1;
	}
	img {
		position: relative;
		display: block;
		opacity: 0.8;
		width: 100%;
    opacity: 1;
		-webkit-transition: opacity 1s, -webkit-transform 0.5s;
		transition: opacity 1s, -webkit-transform 0.5s;
		transition: opacity 1s, transform 0.5s;
		transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
	}
	&:hover img {
		opacity: 0.6;
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
}

.reveal-overlay {
  background-color: rgba(10,10,10,.85);
  .reveal {
    margin-top: 5%;
	overflow-y: visible;
	padding: 0;
	border: 0;
	background-color: transparent;
	width: 80%;
	margin-left: auto;
  }
  .close-button {
	position: absolute;
	font-family: $titleFont;
	right: 0%;
	top: 0%;
	font-size: 1em;
	color: #FFF;
	cursor: pointer;
	background-color: #0009;
	padding: 0.3rem 0.5rem;
  }
}

/* --------------------------------------------
VIDEOS SECTION
----------------------------------------------*/

.video-section {
	background-image: url('../img/bg-back.png');
	padding: 3em 0;
	h3 {
		font-size: 1.5rem;
	}
}

.video-placeholder {
	position: relative;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	border-radius: 0.5rem;
	box-shadow: 0 0 9.5rem 0 $shadow;
	img {
		width: 100%;
	}
	a {
		position: initial;
	}
	&.video-box span.button {
    @include pos(absolute, 33%, 0, null, 0);
		margin-left: auto !important;
		margin-right: auto !important;
		border: none !important;
	}
}

/* --------------------------------------------
CONTACT SECTION
----------------------------------------------*/

.contactTitle {
	padding: 1em 0 2em;
}
form {
	position: relative;
	width: 100%;
	overflow: hidden;
}
[type='text'],
[type='email'],
textarea,
input,
input::placeholder {
  @include formField()
}
.form {
	margin-bottom: 4.0em;
}
.button.submit {
  @include transition(all 0.3s ease);
	font-family: $titleFont;
	font-size: 1rem;
	color: $lightBlue;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	height: 73%;
	&.filled {
		color: $white;
		background: $lightBlue;
	}
	&:hover {
		background: $darkBlue !important;
	}
}	  


/* --------------------------------------------
FOOTER
----------------------------------------------*/

footer {
	display: table;
	padding: 2.0em 0;
	width: 100%;
	position: relative;
	ul {
		margin: 0 !important;
	}
	&.footer {
		background: $black;
		p {
			margin-top: 2.0em !important;
			&.copyright {
				padding: 0.7em 0 0;
				margin-top: 0 !important;
			}
		}
	}
	p {
		font-size: 0.87rem;
		color: $white;
		font-weight: 400;
		line-height: 1.5;
		margin: 0 !important;
		display: block;
		&.copyright {
			font-size: 0.7rem;
			text-transform: uppercase;
			a {
				font-size: inherit;
				color: $white;
				font-weight: 800;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	span {
		font-size: 0.87rem;
		color: $white;
		font-weight: 400;
		line-height: 1.5;
		margin: 0 !important;
		display: block;
	}
}

/* --------------------------------------------
OVERLAYS
----------------------------------------------*/

[data-overlay]:before {
  @include pos(absolute, 0, null, null, 0);
	content: '';
	background: $black;
	width: 100%;
	height: 100%;
	z-index: 0;
}

[data-overlay="0"]:before {
	opacity: 0;
}
[data-overlay="1"]:before {
	opacity: 0.1;
}
[data-overlay="2"]:before {
	opacity: 0.2;
}
[data-overlay="3"]:before {
	opacity: 0.3;
}
[data-overlay="4"]:before {
	opacity: 0.4;
}
[data-overlay="5"]:before {
	opacity: 0.5;
}
[data-overlay="6"]:before {
	opacity: 0.6;
}
[data-overlay="7"]:before {
	opacity: 0.7;
}
[data-overlay="8"]:before {
	opacity: 0.8;
}
[data-overlay="9"]:before {
	opacity: 0.9;
}
[data-overlay="10"]:before {
	opacity: 1;
}

/* --------------------------------------------
BACK TO TOP
----------------------------------------------*/


.backtotop {
	@include pos(fixed, null, 2rem, 3rem, null);
	width: 3.75rem;
	height: 3.75rem;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: none;
	z-index: 2000;
	background-color: $lightBlue;
	transition: transform 0.3s;
	overflow: hidden;
	border-radius: 5px;
	&:before,
	&:after {
		content: '';
		position: absolute;
		display: block;
		top: 20px;
		background-color: #fff;
		height: 20px;
		width: 5px;
	}
	&:before {
		transform: rotate(-45deg);
		left: 34px;
	    // box-shadow: -8px 14px 0px 8px darken($darkBlue, 8%);
	}
	&:after {
		transform: rotate(45deg);
		right: 33px;
	}
	&:focus {
		outline: none;
	}
	&.not-visible{
		visibility: hidden;
		opacity: 0;
		display: none;
	}
	&.visible {
		display: inline-block !important;
		visibility: visible !important;
		opacity: 0.9 !important;
	}
	&:hover{
		background-color: $darkBlue;
		transform: scale(1.1);
	}
}

/* --------------------------------------------
ANNIVERSARY SECTION
----------------------------------------------*/

#anniversary .sectionTitle {
	margin-bottom: 1.5rem;
}

section#anniversary {
	padding-bottom: 0em !important;
}

.box-image {
	display: flex;
  	max-width: 100%;
  	user-select: none;
}

.imageBoxContainer {
	position: relative;
	max-width: 1152px;
	overflow: hidden;
	z-index: 1;
}

.hotspots {
  @include pos(absolute, 0, 0, 0, 0);
  overflow: hidden;
  .hotspot {
	@include pos(absolute, 0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    &:nth-child( 1 ) .trigger {
      top: 20%;
      left: 8%;
	}
    &:nth-child( 2 ) .trigger {
      top: 66%;
      left: 92%;
	}
    &:nth-child( 3 ) .trigger {
      top: 80%;
      left: 43%;
	}
    .trigger {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      background: $white;
      color: $darkBlue;
      border-radius: 50%;
      transform: translate( -50%, -50% );
      cursor: pointer;
      pointer-events: all;
      box-shadow: 0 0 0 0 $black;
      transition: box-shadow .4s;
	  user-select: none;
	  z-index: 2;
      &:hover {
		box-shadow: 0 0 0 8px rgba($white, .5 );
		}
	  i {
		z-index: 2;
	  }
	}
  }
}

.reveal {
	figure {
	background-color: $white;
	}
	figcaption {
		@include pos(absolute, null, null, 0, 0);
		width: 100%;
		padding: 16px;
		background: $lightBlue;
		color: white;
	}
}

.callaction {
	padding: 1rem;
	cursor: pointer;
	h3 {
		color: $white;
		@include tEase;
		cursor: pointer;
		font-size: 1.4rem;
	}
	&:hover h3 {
		transform: scale(1.1, 1.1)
	}
}


/* --------------------------------------------
TEMPORARY FIX FOR REVEAL BUG
----------------------------------------------*/

.is-reveal-open body,
body.is-reveal-open {
	overflow: inherit !important;
}


/* --------------------------------------------
VIDEO CONTROLS
----------------------------------------------*/
.videoContainer:hover #controls {
	opacity: 1;
	transform: translate(0, 0);
}


.lightbox {
	display: none;
	position: absolute; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	text-align: center;
	background-color: rgba(0,0,0,0.95);
	z-index: 9999;
}

.close-lightbox {
	position: absolute;
	font-family: $titleFont;
	right: 10%;
	top: 21%;
	font-size: 1em;
	color: #FFF;
	cursor: pointer;
	background-color: #0009;
	padding: 0.3rem 0.5rem;
}

.show-lightbox { display: block; }

.noScroll {
	overflow: hidden;
}

#cover_video video {
	width: 80%;
	margin-top: 15%;
	height: auto;
}

.videoContainer {
	position: relative;
	box-sizing: content-box;
	display: inline;
	&:-webkit-full-screen {
		width: 100%;
		height: auto;
		background-color: #000;
		display: block;
	}
}


#controls {
	display: flex;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #000;
	position: absolute;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: space-between;
	z-index: 9999;
	transition: all 0.3s ease-in-out;
	opacity: 0;
    transform: translate(0, 100%);
	.playPause, .volume .icon,.scale .icon {
		width: 15px !important;
		height: 15px !important;
	}
	.playButton {
		display: flex;
		width: 70px;
		height: 100%;
		color: #fff;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all .4s;
		padding: 0;
		text-align: center;
		&:hover{
			background-color: $lightBlue;
		}
	}
	.ProgressContainer {
		color: #fff;
		width: calc(100% - 100px);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		&:hover {
			background-color: $lightBlue;
		}
	}
	.progressBar {
		float: left;
		position: relative;
		width: 100%;
		height: 10px;
		margin: 10px 9px;
		background: rgba(255,255,255,.5);
		cursor: pointer;
		border-radius: 20px;
		overflow: hidden;
	}
	.progress {
		background-color: #fff;
		width: 0%;
		height: 100%;
		border-radius: 20px;
	}
	.timer {
		margin: 0 10px;
		font-family: Arial, sans-serif;
		font-weight: 300;
		font-size: 12px;
		font-weight: 300;
		color: #fff;
		letter-spacing: 1px;
	}
	.volumeContainer {
		width: 150px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		color: #fff;
		padding: 0 10px;
		&:hover {
			background-color: $lightBlue;
		}
	}
	.muteButton {
		cursor: pointer;
	}
	.scale {
		width: 70px;
		height: 100%;
		color:#fff;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all .4s;
		&:hover {
			background-color: $lightBlue;
		}
	}
}

video {
	&::-webkit-media-controls {
		display:none !important;
	}
	&::-webkit-media-controls-enclosure {
		display:none !important;
	}
}

/* Volume Input Style */
input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 0px 0;
	background: transparent;
	border-radius: 10px;
	border: 0;
	padding: 0 0 0 1rem;
  	&:focus {
		outline: none;
  	}
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 10px;
		cursor: pointer;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 10px;
		border: 0px solid rgba(0, 0, 0, 0);
	}
	&::-webkit-slider-thumb {
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
		border: 0px solid rgba(0, 0, 0, 0);
		height: 10px;
		width: 20px;
		border-radius: 20px;
		background: #ffffff;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: 0px;
	}
  	&:focus{
	  	&::-webkit-slider-runnable-track {
			background: rgba(255, 255, 255, 0.5);
		}
	}
	&::-moz-range-track {
		width: 100%;
		height: 10px;
		cursor: pointer;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 10px;
		border: 0px solid rgba(0, 0, 0, 0);
	}
	&::-moz-range-thumb {
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
		border: 0px solid rgba(0, 0, 0, 0);
		height: 10px;
		width: 20px;
		border-radius: 20px;
		background: #ffffff;
		cursor: pointer;
	}
	&::-ms-track {
		width: 100%;
		height: 10px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}
	&::-ms-fill-lower {
		background: rgba(219, 219, 219, 0.5);
		border: 0px solid rgba(0, 0, 0, 0);
		border-radius: 20px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	&::-ms-fill-upper {
		background: rgba(255, 255, 255, 0.5);
		border: 0px solid rgba(0, 0, 0, 0);
		border-radius: 20px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	&::-ms-thumb {
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
		border: 0px solid rgba(0, 0, 0, 0);
		width: 20px;
		border-radius: 20px;
		background: #ffffff;
		cursor: pointer;
		height: 10px;
	}
	&:focus {
		&::-ms-fill-lower {
			background: rgba(255, 255, 255, 0.5);
		}
	}
  &:focus {
		&::-ms-fill-upper {
		background: rgba(255, 255, 255, 0.5);
		}
	}
}


