@import 'basic';

/* --------------------------------------------
Foundation Basic Override
----------------------------------------------*/

@media screen and(max-width: 40em) {
	.hide-for-small-only {
		display: none !important;
	}
}

@media only screen and(min-width: 1023px) {
	.cell-spacing-mb30 {
		margin-bottom: 3.0em;
	}
}

@media screen and(min-width: 31.25em) and(max-width: 40em) {
	.cast-container {
		width: 50% !important;
	}
}

/* --------------------------------------------
Basic Typography
----------------------------------------------*/

@media print, screen and(min-width: 50em) {
	h1 {
		font-size: 4.1rem;
	}
	h2 {
		font-size: 3.1rem;
	}
	h3 {
		font-size: 2.1rem !important;
	}
	h4 {
		font-size: 1.4rem;
	}
	h5 {
		font-size: 0.9rem;
	}
	h6 {
		font-size: 0.8rem;
	}
	.hide-for-large {
		display: none !important;
	}
}

/* --------------------------------------------
min-width 40em
----------------------------------------------*/

@media screen and(min-width: 40em) {
	section {
		padding: 4em 2em;
	}
	.sectionTitle {
		padding-bottom: 4rem;
	}
	.imageContainer {
		width: 100%;
		padding-top: 0;
    }
    .reveal.medium {
		max-width: 75rem;
	}
	.reveal.small {
		width: 60%;
		max-width: 75rem; 
	}
	.callaction {
		padding: 3rem;
	}
	.video-section {
		padding: 3em;
	}
	.video-placeholder {
		width: 60% !important;
		padding-bottom: 3rem;
	}
	.homeLogo {
		width: 30%;
	}
	.callaction {
		&:hover h3 {
			transform: scale(1.2, 1.2)
		}
	}
	.reveal-overlay {
		.reveal {
			margin-top: 3%;
		}
		figcaption {
			bottom: 0;
		}
	}
}

/* --------------------------------------------
min-width 50em
----------------------------------------------*/

@media screen and(min-width: 50em) {
	.playButton {
		padding-top: 40px;
	}
	header {
		&.small .logo {
			width: 70%;
		}
		&.small {
			background-color: transparent;
			border-bottom: 0;
		}
  }
	#mobileMenu {
		display: none !important;
	}
	.mobile-icon {
		display: none !important;
	}
	.logo {
		width: 100%;
	}		
}

/* --------------------------------------------
min-width 60em
----------------------------------------------*/
@media screen and(min-width: 60em) {
	.button.play {
		width: 5.5rem;
		height: 5.5rem;
	}
	.close-lightbox {
		right: 10%;
		// top: 20%;
	}
	.grid-container {
		padding-right: 2em;
		padding-left: 2em;
	}
}


/* --------------------------------------------
min-width 64em
----------------------------------------------*/

@media screen and(min-width: 64em) {
	.top-bar {
		padding-left: 4em;
		padding-right: 4em;
	}
	.playButton {
		padding-top: 50px;
	}
	.homeLogo {
		width: 25%;
		padding-bottom: 10rem;
	}
	.reveal.small {
		width: 40%;
		max-width: 75rem; 
	}
}

/* --------------------------------------------
min-width 75em
----------------------------------------------*/

@media screen and(min-width: 75em) {
	.playButton {
		padding-top: 70px;
	}
	.close-lightbox {
		right: 10%;
		// top: 10.4%;
	}
}

/* --------------------------------------------
OTHERS
----------------------------------------------*/

@media screen and(max-width: 50em) {
	#mainMenu {
		display: none !important;
	}
}
