/* --------------------------------------------
HELPERS
----------------------------------------------*/
/* line 7, ../sass/app.scss */
.p0 {
  padding: 0;
}

/* line 10, ../sass/app.scss */
.m0 {
  margin: 0;
}

/* line 13, ../sass/app.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 16, ../sass/app.scss */
.text-white {
  color: white !important;
}

/* line 19, ../sass/app.scss */
.text-center {
  text-align: center !important;
}

/* line 22, ../sass/app.scss */
.text-left {
  text-align: left !important;
}

/* line 25, ../sass/app.scss */
.text-right {
  text-align: right !important;
}

/* line 28, ../sass/app.scss */
.bg-white {
  background-color: white !important;
}

/* line 31, ../sass/app.scss */
.light-bg {
  background: whitesmoke !important;
}

/* line 34, ../sass/app.scss */
.prel {
  position: relative;
}

/* --------------------------------------------
BASIC STYLE
----------------------------------------------*/
/* line 42, ../sass/app.scss */
html {
  font-size: 100%;
}

/* line 45, ../sass/app.scss */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: black;
}

/* line 50, ../sass/app.scss */
.clear {
  display: block;
  position: relative;
  margin-bottom: 3.0em;
  clear: both;
}

/* line 56, ../sass/app.scss */
h1 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 2.6rem;
}
/* line 62, ../sass/app.scss */
h1 em:after {
  height: 0.9rem;
  bottom: 1.5rem;
}

/* line 68, ../sass/app.scss */
h2 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 2.4rem;
}
/* line 74, ../sass/app.scss */
h2 em:after {
  height: 0.7rem;
  bottom: 0.5rem;
}

/* line 80, ../sass/app.scss */
h3 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 1.9rem;
}
/* line 86, ../sass/app.scss */
h3 em:after {
  height: 0.6rem;
  bottom: 0.3rem;
}

/* line 92, ../sass/app.scss */
h4 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 1.125rem;
}
/* line 98, ../sass/app.scss */
h4 em:after {
  height: 0.4rem;
  bottom: 0.3rem;
}

/* line 104, ../sass/app.scss */
h5 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 0.9rem;
}
/* line 110, ../sass/app.scss */
h5 em:after {
  height: 0.3rem;
  bottom: 0;
}

/* line 116, ../sass/app.scss */
h6 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 0.8rem;
}
/* line 122, ../sass/app.scss */
h6 em:after {
  height: 0.3rem;
  bottom: 0;
}

/* line 128, ../sass/app.scss */
ul {
  padding: 0;
  margin-left: 2em;
}
/* line 131, ../sass/app.scss */
ul li {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.74;
  list-style: none;
  list-style-type: none;
}

/* line 137, ../sass/app.scss */
p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.74;
  color: black;
  text-transform: none;
  overflow: hidden;
  width: 100%;
}

/* line 144, ../sass/app.scss */
a {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.74;
  color: black;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

/* line 151, ../sass/app.scss */
em {
  font-family: "Electrolize", sans-serif;
  font-weight: 700;
  z-index: 0;
  position: relative;
}
/* line 156, ../sass/app.scss */
em:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  z-index: -1;
  background-color: #3b8ca9;
}

/* line 164, ../sass/app.scss */
.grid-container {
  padding-right: 2em;
  padding-left: 2em;
  margin: 0 auto;
}

/* line 169, ../sass/app.scss */
.main-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table;
  table-layout: fixed;
}

/* line 176, ../sass/app.scss */
.cell-spacing-mb30 {
  margin-bottom: 1.875em;
  width: auto;
}

/* line 180, ../sass/app.scss */
section {
  position: relative;
  padding: 1em;
}

/* line 184, ../sass/app.scss */
.sectionTitle {
  padding: 2rem 0;
}

/* line 188, ../sass/app.scss */
.dark-bg {
  background-color: #00728e;
}

/* --------------------------------------------
HEADER SECTION
----------------------------------------------*/
/* line 195, ../sass/app.scss */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  color: white;
  background: none;
  font-family: "Electrolize", sans-serif;
}
/* line 203, ../sass/app.scss */
header.small {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 206, ../sass/app.scss */
header.small a {
  color: black;
}
/* line 210, ../sass/app.scss */
header.small .mobile-icon span {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  background-color: black;
}
/* line 213, ../sass/app.scss */
header.small .mobile-icon span:before {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  background-color: black;
}
/* line 217, ../sass/app.scss */
header.small .mobile-icon span:after {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  background-color: black;
}
/* line 222, ../sass/app.scss */
header.small .mobile-icon.active span {
  -moz-transition-delay: 0.2s, 0;
  -o-transition-delay: 0.2s, 0;
  -webkit-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0;
  background-color: transparent;
}
/* line 227, ../sass/app.scss */
header.small .logo {
  width: 35%;
}
/* line 232, ../sass/app.scss */
header.menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 236, ../sass/app.scss */
.top-bar {
  padding-left: 2em;
  padding-right: 2em;
  background-color: transparent !important;
}
/* line 240, ../sass/app.scss */
.top-bar ul {
  background-color: transparent !important;
}
/* line 243, ../sass/app.scss */
.top-bar a {
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}
/* line 248, ../sass/app.scss */
.top-bar.vertical {
  background-color: black;
}

/* line 253, ../sass/app.scss */
.title-bar {
  background: none;
  padding: 1em;
}

/* line 258, ../sass/app.scss */
.menu.vertical {
  padding-left: 1em;
  margin-top: 2em;
}
/* line 261, ../sass/app.scss */
.menu.vertical a {
  display: inline-block;
  color: white;
}
/* line 264, ../sass/app.scss */
.menu.vertical a:hover {
  color: white;
}
/* line 267, ../sass/app.scss */
.menu.vertical a:active {
  color: white;
}
/* line 270, ../sass/app.scss */
.menu.vertical a:focus {
  color: white;
}
/* line 276, ../sass/app.scss */
.menu.hover li:hover a:before {
  -webkit-transform: scaleX(1) translateY(-50%);
  -moz-transform: scaleX(1) translateY(-50%);
  -ms-transform: scaleX(1) translateY(-50%);
  -o-transform: scaleX(1) translateY(-50%);
  transform: scaleX(1) translateY(-50%);
}
/* line 279, ../sass/app.scss */
.menu.hover li.active a:before {
  -webkit-transform: scaleX(1) translateY(-50%);
  -moz-transform: scaleX(1) translateY(-50%);
  -ms-transform: scaleX(1) translateY(-50%);
  -o-transform: scaleX(1) translateY(-50%);
  transform: scaleX(1) translateY(-50%);
}
/* line 282, ../sass/app.scss */
.menu.hover li a:before {
  content: '';
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0) translateY(-50%);
  -moz-transform: scaleX(0) translateY(-50%);
  -ms-transform: scaleX(0) translateY(-50%);
  -o-transform: scaleX(0) translateY(-50%);
  transform: scaleX(0) translateY(-50%);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
  -moz-transition: -moz-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
  transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
  position: absolute;
  top: 65%;
  right: 0;
  left: 5%;
  display: block;
  height: 0.5em;
  background: #00728e;
  z-index: -1;
}

/* line 295, ../sass/app.scss */
.off-canvas {
  background-color: black;
}

/* line 298, ../sass/app.scss */
.mobile-icon {
  padding: 1rem !important;
}
/* line 300, ../sass/app.scss */
.mobile-icon span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-delay: 0, 0.2s;
  -o-transition-delay: 0, 0.2s;
  -webkit-transition-delay: 0, 0.2s;
  transition-delay: 0, 0.2s;
  width: 35px;
  height: 4px;
  background-color: white;
  display: block;
}
/* line 307, ../sass/app.scss */
.mobile-icon span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  position: absolute;
  content: '';
  width: 35px;
  height: 4px;
  background-color: white;
  display: block;
  margin-top: -11px;
}
/* line 319, ../sass/app.scss */
.mobile-icon span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  position: absolute;
  content: '';
  width: 35px;
  height: 4px;
  background-color: white;
  display: block;
  margin-top: 11px;
}
/* line 332, ../sass/app.scss */
.mobile-icon.active span {
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  background-color: transparent;
}
/* line 335, ../sass/app.scss */
.mobile-icon.active span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
  margin-top: 0;
}
/* line 340, ../sass/app.scss */
.mobile-icon.active span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
  margin-top: 0;
}

/* line 347, ../sass/app.scss */
.logo {
  width: 50%;
}
/* line 349, ../sass/app.scss */
.logo img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* --------------------------------------------
VIDEO COVER
----------------------------------------------*/
/* line 359, ../sass/app.scss */
.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -3;
}

/* line 367, ../sass/app.scss */
video {
  width: 100%;
}

/* line 370, ../sass/app.scss */
#video-background {
  padding: 4em 0;
}

/* line 373, ../sass/app.scss */
.button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
/* line 376, ../sass/app.scss */
.button.play {
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.35);
}
/* line 382, ../sass/app.scss */
.button.play:hover {
  background: #004455 !important;
  transform: scale(1.1) !important;
}
/* line 386, ../sass/app.scss */
.button.play:before {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  border-style: solid;
  border-width: 0.6rem 0 0.6rem 1.1rem;
  border-color: transparent transparent transparent white;
}
/* line 397, ../sass/app.scss */
.button.filled {
  color: white;
  background: #00728e;
}

/* --------------------------------------------
OVERLAP SECTION
----------------------------------------------*/
/* line 406, ../sass/app.scss */
.overlap-content {
  padding-top: 1rem;
}

/* line 410, ../sass/app.scss */
.overlap {
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 4px;
  position: relative;
  top: -3rem;
}

/* line 420, ../sass/app.scss */
.overlap-section {
  background-color: whitesmoke;
  height: 250vh;
  width: 100%;
  margin-top: -230vh;
}

/* --------------------------------------------
IMAGES
----------------------------------------------*/
/* line 431, ../sass/app.scss */
.imageContainer {
  width: 70%;
  padding-top: 1em;
}

/* --------------------------------------------
CAST SECTION
----------------------------------------------*/
/* line 440, ../sass/app.scss */
.cast-container {
  margin: 0 0 -1px 0;
  cursor: pointer;
  padding: 0 !important;
  overflow: hidden;
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
  -moz-transition: -moz-transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
  transition: transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
}
/* line 449, ../sass/app.scss */
.cast-container .vertical-caption {
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  text-align: right;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 456, ../sass/app.scss */
.cast-container .vertical-caption h5 {
  font-size: 1.0rem;
  color: white;
  line-height: 1.1;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
/* line 465, ../sass/app.scss */
.cast-container .cast-container-inner {
  height: 100%;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* line 468, ../sass/app.scss */
.cast-container .cast-container-inner img {
  width: 100%;
}
/* line 471, ../sass/app.scss */
.cast-container .cast-container-inner:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 474, ../sass/app.scss */
.cast-container .cast-container-inner:hover:before {
  opacity: 0.1;
}
/* line 477, ../sass/app.scss */
.cast-container .cast-container-inner:hover .cast-link {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
/* line 482, ../sass/app.scss */
.cast-container .cast-container-inner:before {
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* line 485, ../sass/app.scss */
.cast-container .cast-container-inner .cast-link {
  position: absolute;
  right: 0;
  bottom: 3em;
  left: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  width: 100%;
  text-align: center;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 492, ../sass/app.scss */
.cast-container .cast-container-inner .cast-link a {
  text-decoration: none;
}
/* line 495, ../sass/app.scss */
.cast-container .cast-container-inner .cast-link h5 {
  font-size: 0.93rem;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 501, ../sass/app.scss */
.cast-container .cast-container-inner .cast-link:hover p {
  font-weight: 700;
}

/* line 508, ../sass/app.scss */
.vertical-caption p {
  font-size: 1em;
  color: white;
  margin: 0;
}

/* --------------------------------------------
GALLERY
----------------------------------------------*/
/* line 518, ../sass/app.scss */
.galleryArea {
  padding: 0;
}
/* line 520, ../sass/app.scss */
.galleryArea .sectionTitle {
  margin-bottom: 2em;
}

/* line 524, ../sass/app.scss */
.galleryItem {
  position: relative;
  overflow: hidden;
  margin: 0;
  background: black;
  text-align: center;
  cursor: pointer;
}
/* line 531, ../sass/app.scss */
.galleryItem a {
  position: relative;
  display: block;
  z-index: 1;
}
/* line 536, ../sass/app.scss */
.galleryItem img {
  position: relative;
  display: block;
  opacity: 0.8;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
}
/* line 547, ../sass/app.scss */
.galleryItem:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

/* line 554, ../sass/app.scss */
.reveal-overlay {
  background-color: rgba(10, 10, 10, 0.85);
}
/* line 556, ../sass/app.scss */
.reveal-overlay .reveal {
  margin-top: 35%;
  overflow-y: visible;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 80%;
  margin-left: auto;
}
/* line 565, ../sass/app.scss */
.reveal-overlay .close-button {
  padding: .5rem;
  line-height: 1.5rem;
  font-size: 2rem;
  color: white;
  background-color: #004455;
  border-radius: 2rem;
  right: -1.5rem;
  top: -1.5rem;
}

/* --------------------------------------------
VIDEOS SECTION
----------------------------------------------*/
/* line 581, ../sass/app.scss */
.video-section {
  background-image: url("../img/bg-back.png");
  padding: 3em 0;
}

/* line 586, ../sass/app.scss */
.video-placeholder {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 9.5rem 0 rgba(0, 0, 0, 0.35);
}
/* line 593, ../sass/app.scss */
.video-placeholder img {
  width: 100%;
}
/* line 596, ../sass/app.scss */
.video-placeholder a {
  position: initial;
}
/* line 599, ../sass/app.scss */
.video-placeholder.video-box span.button {
  position: absolute;
  top: 33%;
  right: 0;
  left: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  border: none !important;
}

/* --------------------------------------------
CONTACT SECTION
----------------------------------------------*/
/* line 611, ../sass/app.scss */
.contactTitle {
  padding: 1em 0 2em;
}

/* line 614, ../sass/app.scss */
form {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 619, ../sass/app.scss */
[type='text'],
[type='email'],
textarea,
input,
input::placeholder {
  font-family: "Electrolize", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  color: black;
  font-weight: 300;
  line-height: 1.7;
  width: 100%;
  padding: 0.9em;
  margin: 0 0 1.2em;
  outline: none;
  height: auto;
  border: 1px solid #e0e0e0;
  background-color: white;
}

/* line 626, ../sass/app.scss */
.form {
  margin-bottom: 4.0em;
}

/* line 629, ../sass/app.scss */
.button.submit {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Electrolize", sans-serif;
  font-size: 1rem;
  color: #00728e;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  height: 73%;
}
/* line 639, ../sass/app.scss */
.button.submit.filled {
  color: white;
  background: #00728e;
}
/* line 643, ../sass/app.scss */
.button.submit:hover {
  background: #004455 !important;
}

/* --------------------------------------------
FOOTER
----------------------------------------------*/
/* line 653, ../sass/app.scss */
footer {
  display: table;
  padding: 2.0em 0;
  width: 100%;
  position: relative;
}
/* line 658, ../sass/app.scss */
footer ul {
  margin: 0 !important;
}
/* line 661, ../sass/app.scss */
footer.footer {
  background: black;
}
/* line 663, ../sass/app.scss */
footer.footer p {
  margin-top: 2.0em !important;
}
/* line 665, ../sass/app.scss */
footer.footer p.copyright {
  padding: 0.7em 0 0;
  margin-top: 0 !important;
}
/* line 671, ../sass/app.scss */
footer p {
  font-size: 0.87rem;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 !important;
  display: block;
}
/* line 678, ../sass/app.scss */
footer p.copyright {
  font-size: 0.7rem;
  text-transform: uppercase;
}
/* line 681, ../sass/app.scss */
footer p.copyright a {
  font-size: inherit;
  color: white;
  font-weight: 800;
  text-decoration: none;
}
/* line 686, ../sass/app.scss */
footer p.copyright a:hover {
  text-decoration: underline;
}
/* line 692, ../sass/app.scss */
footer span {
  font-size: 0.87rem;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 !important;
  display: block;
}

/* --------------------------------------------
OVERLAYS
----------------------------------------------*/
/* line 706, ../sass/app.scss */
[data-overlay]:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* line 715, ../sass/app.scss */
[data-overlay="0"]:before {
  opacity: 0;
}

/* line 718, ../sass/app.scss */
[data-overlay="1"]:before {
  opacity: 0.1;
}

/* line 721, ../sass/app.scss */
[data-overlay="2"]:before {
  opacity: 0.2;
}

/* line 724, ../sass/app.scss */
[data-overlay="3"]:before {
  opacity: 0.3;
}

/* line 727, ../sass/app.scss */
[data-overlay="4"]:before {
  opacity: 0.4;
}

/* line 730, ../sass/app.scss */
[data-overlay="5"]:before {
  opacity: 0.5;
}

/* line 733, ../sass/app.scss */
[data-overlay="6"]:before {
  opacity: 0.6;
}

/* line 736, ../sass/app.scss */
[data-overlay="7"]:before {
  opacity: 0.7;
}

/* line 739, ../sass/app.scss */
[data-overlay="8"]:before {
  opacity: 0.8;
}

/* line 742, ../sass/app.scss */
[data-overlay="9"]:before {
  opacity: 0.9;
}

/* line 745, ../sass/app.scss */
[data-overlay="10"]:before {
  opacity: 1;
}

/* --------------------------------------------
BACK TO TOP
----------------------------------------------*/
/* line 754, ../sass/app.scss */
.backtotop {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  width: 3.75rem;
  height: 3.75rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: none;
  z-index: 2000;
  background-color: #00728e;
  transition: transform 0.3s;
  overflow: hidden;
  border-radius: 5px;
}
/* line 767, ../sass/app.scss */
.backtotop:before, .backtotop:after {
  content: '';
  position: absolute;
  display: block;
  top: 20px;
  background-color: #fff;
  height: 20px;
  width: 5px;
}
/* line 777, ../sass/app.scss */
.backtotop:before {
  transform: rotate(-45deg);
  left: 34px;
}
/* line 782, ../sass/app.scss */
.backtotop:after {
  transform: rotate(45deg);
  right: 33px;
}
/* line 786, ../sass/app.scss */
.backtotop:focus {
  outline: none;
}
/* line 789, ../sass/app.scss */
.backtotop.not-visible {
  visibility: hidden;
  opacity: 0;
  display: none;
}
/* line 794, ../sass/app.scss */
.backtotop.visible {
  display: inline-block !important;
  visibility: visible !important;
  opacity: 0.9 !important;
}
/* line 799, ../sass/app.scss */
.backtotop:hover {
  background-color: #004455;
  transform: scale(1.1);
}

/* --------------------------------------------
ANNIVERSARY SECTION
----------------------------------------------*/
/* line 809, ../sass/app.scss */
#anniversary .sectionTitle {
  margin-bottom: 1.5rem;
}

/* line 813, ../sass/app.scss */
section#anniversary {
  padding-bottom: 0em !important;
}

/* line 817, ../sass/app.scss */
.box-image {
  display: flex;
  max-width: 100%;
  user-select: none;
}

/* line 823, ../sass/app.scss */
.imageBoxContainer {
  position: relative;
  max-width: 1152px;
  overflow: hidden;
  z-index: 1;
}

/* line 830, ../sass/app.scss */
.hotspots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
/* line 833, ../sass/app.scss */
.hotspots .hotspot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
/* line 840, ../sass/app.scss */
.hotspots .hotspot:nth-child(1) .trigger {
  top: 20%;
  left: 8%;
}
/* line 844, ../sass/app.scss */
.hotspots .hotspot:nth-child(2) .trigger {
  top: 66%;
  left: 92%;
}
/* line 848, ../sass/app.scss */
.hotspots .hotspot:nth-child(3) .trigger {
  top: 80%;
  left: 43%;
}
/* line 852, ../sass/app.scss */
.hotspots .hotspot .trigger {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: white;
  color: #004455;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: all;
  box-shadow: 0 0 0 0 black;
  transition: box-shadow .4s;
  user-select: none;
  z-index: 2;
}
/* line 869, ../sass/app.scss */
.hotspots .hotspot .trigger:hover {
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5);
}
/* line 872, ../sass/app.scss */
.hotspots .hotspot .trigger i {
  z-index: 2;
}

/* line 880, ../sass/app.scss */
.reveal figure {
  background-color: white;
}
/* line 883, ../sass/app.scss */
.reveal figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background: #00728e;
  color: white;
}

/* line 892, ../sass/app.scss */
.callaction {
  padding: 1rem;
}
/* line 894, ../sass/app.scss */
.callaction h3 {
  font-size: 1.4rem;
}

/* --------------------------------------------
TEMPORARY FIX FOR REVEAL BUG
----------------------------------------------*/
/* line 903, ../sass/app.scss */
.is-reveal-open body,
body.is-reveal-open {
  overflow: inherit !important;
}

/* --------------------------------------------
VIDEO CONTROLS
----------------------------------------------*/
/* line 912, ../sass/app.scss */
.videoContainer:hover #controls {
  opacity: 1;
  transform: translate(0, 0);
}

/* line 918, ../sass/app.scss */
.lightbox {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
}
/* line 927, ../sass/app.scss */
.lightbox .close-lightbox {
  position: absolute;
  right: 12px;
  top: 12px;
  font-family: arial, helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* line 939, ../sass/app.scss */
.show-lightbox {
  display: block;
}

/* line 941, ../sass/app.scss */
#cover_video video {
  width: 60%;
  margin-top: 10%;
}

/* line 946, ../sass/app.scss */
.videoContainer {
  position: relative;
  box-sizing: content-box;
  display: inline;
}
/* line 950, ../sass/app.scss */
.videoContainer:-webkit-full-screen {
  width: 100%;
  height: auto;
  background-color: #000;
  display: block;
}

/* line 959, ../sass/app.scss */
#controls {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translate(0, 100%);
}
/* line 974, ../sass/app.scss */
#controls .playPause, #controls .volume .icon, #controls .scale .icon {
  width: 15px !important;
  height: 15px !important;
}
/* line 978, ../sass/app.scss */
#controls .playButton {
  display: flex;
  width: 70px;
  height: 100%;
  color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .4s;
  padding: 0;
  text-align: center;
}
/* line 989, ../sass/app.scss */
#controls .playButton:hover {
  background-color: #00728e;
}
/* line 993, ../sass/app.scss */
#controls .ProgressContainer {
  color: #fff;
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
/* line 1001, ../sass/app.scss */
#controls .ProgressContainer:hover {
  background-color: #00728e;
}
/* line 1005, ../sass/app.scss */
#controls .progressBar {
  float: left;
  position: relative;
  width: 100%;
  height: 10px;
  margin: 10px 9px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
}
/* line 1016, ../sass/app.scss */
#controls .progress {
  background-color: #fff;
  width: 0%;
  height: 100%;
  border-radius: 20px;
}
/* line 1022, ../sass/app.scss */
#controls .timer {
  margin: 0 10px;
  font-family: Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
}
/* line 1031, ../sass/app.scss */
#controls .volumeContainer {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  color: #fff;
  padding: 0 10px;
}
/* line 1040, ../sass/app.scss */
#controls .volumeContainer:hover {
  background-color: #00728e;
}
/* line 1044, ../sass/app.scss */
#controls .muteButton {
  cursor: pointer;
}
/* line 1047, ../sass/app.scss */
#controls .scale {
  width: 70px;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .4s;
}
/* line 1056, ../sass/app.scss */
#controls .scale:hover {
  background-color: #00728e;
}

/* line 1063, ../sass/app.scss */
video::-webkit-media-controls {
  display: none !important;
}
/* line 1066, ../sass/app.scss */
video::-webkit-media-controls-enclosure {
  display: none !important;
}

/* Volume Input Style */
/* line 1072, ../sass/app.scss */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
  background: transparent;
  border-radius: 10px;
  border: 0;
  padding: 0 0 0 1rem;
}
/* line 1080, ../sass/app.scss */
input[type=range]:focus {
  outline: none;
}
/* line 1083, ../sass/app.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 0px solid transparent;
}
/* line 1092, ../sass/app.scss */
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid transparent;
  height: 10px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
/* line 1104, ../sass/app.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.5);
}
/* line 1108, ../sass/app.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 0px solid transparent;
}
/* line 1117, ../sass/app.scss */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid transparent;
  height: 10px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}
/* line 1126, ../sass/app.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* line 1134, ../sass/app.scss */
input[type=range]::-ms-fill-lower {
  background: rgba(219, 219, 219, 0.5);
  border: 0px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
/* line 1140, ../sass/app.scss */
input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.5);
  border: 0px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
/* line 1146, ../sass/app.scss */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid transparent;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
/* line 1156, ../sass/app.scss */
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.5);
}
/* line 1161, ../sass/app.scss */
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.5);
}
