/* --------------------------------------------
HELPERS
----------------------------------------------*/
/* line 7, ../sass/app.scss */
.hidden {
  display: none;
}

/* line 10, ../sass/app.scss */
.p0 {
  padding: 0;
}

/* line 13, ../sass/app.scss */
.m0 {
  margin: 0;
}

/* line 16, ../sass/app.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 19, ../sass/app.scss */
.text-white {
  color: white !important;
}

/* line 22, ../sass/app.scss */
.text-center {
  text-align: center !important;
}

/* line 25, ../sass/app.scss */
.text-left {
  text-align: left !important;
}

/* line 28, ../sass/app.scss */
.text-right {
  text-align: right !important;
}

/* line 31, ../sass/app.scss */
.bg-white {
  background-color: white !important;
}

/* line 34, ../sass/app.scss */
.light-bg {
  background: whitesmoke !important;
}

/* line 37, ../sass/app.scss */
.prel {
  position: relative;
}

/* --------------------------------------------
BASIC STYLE
----------------------------------------------*/
/* line 45, ../sass/app.scss */
html {
  font-size: 100%;
}

/* line 48, ../sass/app.scss */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: black;
}

/* line 53, ../sass/app.scss */
.clear {
  display: block;
  position: relative;
  margin-bottom: 3.0em;
  clear: both;
}

/* line 59, ../sass/app.scss */
h1 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 2.6rem;
}
/* line 65, ../sass/app.scss */
h1 em:after {
  height: 0.9rem;
  bottom: 1.5rem;
}

/* line 71, ../sass/app.scss */
h2 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 2.4rem;
}
/* line 77, ../sass/app.scss */
h2 em:after {
  height: 0.7rem;
  bottom: 0.5rem;
}

/* line 83, ../sass/app.scss */
h3 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 1.9rem;
}
/* line 89, ../sass/app.scss */
h3 em:after {
  height: 0.6rem;
  bottom: 0.3rem;
}

/* line 95, ../sass/app.scss */
h4 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 1.4rem;
}
/* line 101, ../sass/app.scss */
h4 em:after {
  height: 0.4rem;
  bottom: 0.3rem;
}

/* line 107, ../sass/app.scss */
h5 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 0.9rem;
}
/* line 113, ../sass/app.scss */
h5 em:after {
  height: 0.3rem;
  bottom: 0;
}

/* line 119, ../sass/app.scss */
h6 {
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 0.8rem;
}
/* line 125, ../sass/app.scss */
h6 em:after {
  height: 0.3rem;
  bottom: 0;
}

/* line 131, ../sass/app.scss */
ul {
  padding: 0;
  margin-left: 2em;
}
/* line 134, ../sass/app.scss */
ul li {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.74;
  list-style: none;
  list-style-type: none;
}

/* line 140, ../sass/app.scss */
p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.74;
  color: black;
  text-transform: none;
  overflow: hidden;
  width: 100%;
}

/* line 147, ../sass/app.scss */
a {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.74;
  color: black;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

/* line 154, ../sass/app.scss */
em {
  font-family: "Electrolize", sans-serif;
  font-weight: 700;
  z-index: 0;
  position: relative;
}
/* line 159, ../sass/app.scss */
em:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  z-index: -1;
  background-color: #3b8ca9;
}

/* line 167, ../sass/app.scss */
.grid-container {
  padding-right: 2em;
  padding-left: 2em;
  margin: 0 auto;
}

/* line 172, ../sass/app.scss */
.main-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table;
  table-layout: fixed;
}

/* line 179, ../sass/app.scss */
.cell-spacing-mb30 {
  margin-bottom: 1.875em;
  width: auto;
}

/* line 183, ../sass/app.scss */
section {
  position: relative;
  padding: 1em;
}

/* line 187, ../sass/app.scss */
.sectionTitle {
  margin-top: 5rem;
}

/* line 191, ../sass/app.scss */
.show-for-small-only .sectionTitle {
  margin-top: 2rem;
}
/* line 194, ../sass/app.scss */
.show-for-small-only .cell {
  padding: 2rem;
}

/* --------------------------------------------
HEADER SECTION
----------------------------------------------*/
/* line 202, ../sass/app.scss */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  color: white;
  background: none;
  font-family: "Electrolize", sans-serif;
}
/* line 210, ../sass/app.scss */
header.small {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 213, ../sass/app.scss */
header.small a {
  color: black;
}
/* line 217, ../sass/app.scss */
header.small .mobile-icon span {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  background-color: black;
}
/* line 220, ../sass/app.scss */
header.small .mobile-icon span:before {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  background-color: black;
}
/* line 224, ../sass/app.scss */
header.small .mobile-icon span:after {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  background-color: black;
}
/* line 229, ../sass/app.scss */
header.small .mobile-icon.active span {
  -moz-transition-delay: 0.2s, 0;
  -o-transition-delay: 0.2s, 0;
  -webkit-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0;
  background-color: transparent;
}
/* line 234, ../sass/app.scss */
header.small .logo {
  width: 35%;
}
/* line 239, ../sass/app.scss */
header.menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 243, ../sass/app.scss */
.top-bar {
  padding-left: 2em;
  padding-right: 2em;
  background-color: transparent !important;
}
/* line 247, ../sass/app.scss */
.top-bar ul {
  background-color: transparent !important;
}
/* line 250, ../sass/app.scss */
.top-bar a {
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}
/* line 255, ../sass/app.scss */
.top-bar.vertical {
  background-color: black;
}

/* line 260, ../sass/app.scss */
.title-bar {
  background: none;
  padding: 1em;
}

/* line 265, ../sass/app.scss */
.menu.vertical {
  padding-left: 1em;
  margin-top: 2em;
}
/* line 268, ../sass/app.scss */
.menu.vertical a {
  display: inline-block;
  color: white;
}
/* line 271, ../sass/app.scss */
.menu.vertical a:hover {
  color: white;
}
/* line 274, ../sass/app.scss */
.menu.vertical a:active {
  color: white;
}
/* line 277, ../sass/app.scss */
.menu.vertical a:focus {
  color: white;
}
/* line 283, ../sass/app.scss */
.menu.hover li:hover a:before {
  -webkit-transform: scaleX(1) translateY(-50%);
  -moz-transform: scaleX(1) translateY(-50%);
  -ms-transform: scaleX(1) translateY(-50%);
  -o-transform: scaleX(1) translateY(-50%);
  transform: scaleX(1) translateY(-50%);
}
/* line 286, ../sass/app.scss */
.menu.hover li.active a:before {
  -webkit-transform: scaleX(1) translateY(-50%);
  -moz-transform: scaleX(1) translateY(-50%);
  -ms-transform: scaleX(1) translateY(-50%);
  -o-transform: scaleX(1) translateY(-50%);
  transform: scaleX(1) translateY(-50%);
}
/* line 289, ../sass/app.scss */
.menu.hover li a:before {
  content: '';
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0) translateY(-50%);
  -moz-transform: scaleX(0) translateY(-50%);
  -ms-transform: scaleX(0) translateY(-50%);
  -o-transform: scaleX(0) translateY(-50%);
  transform: scaleX(0) translateY(-50%);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
  -moz-transition: -moz-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
  transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
  position: absolute;
  top: 65%;
  right: 0;
  left: 5%;
  display: block;
  height: 0.5em;
  background: #00728e;
  z-index: -1;
}

/* line 302, ../sass/app.scss */
.off-canvas {
  background-color: black;
}

/* line 305, ../sass/app.scss */
.mobile-icon {
  padding: 1rem !important;
}
/* line 307, ../sass/app.scss */
.mobile-icon span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-delay: 0, 0.2s;
  -o-transition-delay: 0, 0.2s;
  -webkit-transition-delay: 0, 0.2s;
  transition-delay: 0, 0.2s;
  width: 35px;
  height: 4px;
  background-color: white;
  display: block;
}
/* line 314, ../sass/app.scss */
.mobile-icon span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  position: absolute;
  content: '';
  width: 35px;
  height: 4px;
  background-color: white;
  display: block;
  margin-top: -11px;
}
/* line 326, ../sass/app.scss */
.mobile-icon span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  position: absolute;
  content: '';
  width: 35px;
  height: 4px;
  background-color: white;
  display: block;
  margin-top: 11px;
}
/* line 339, ../sass/app.scss */
.mobile-icon.active span {
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  background-color: transparent;
}
/* line 342, ../sass/app.scss */
.mobile-icon.active span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
  margin-top: 0;
}
/* line 347, ../sass/app.scss */
.mobile-icon.active span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
  margin-top: 0;
}

/* line 354, ../sass/app.scss */
.logo {
  width: 50%;
}
/* line 356, ../sass/app.scss */
.logo img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* --------------------------------------------
VIDEO COVER
----------------------------------------------*/
/* line 367, ../sass/app.scss */
.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -3;
}

/* line 375, ../sass/app.scss */
video {
  width: 100%;
}

/* line 378, ../sass/app.scss */
#video-background {
  padding: 4em 0;
}

/* line 381, ../sass/app.scss */
.button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Electrolize", sans-serif;
  font-size: 0.8rem;
  color: #00728e;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 0.763em 2.5em 0.7em;
  cursor: pointer;
  position: relative;
  text-decoration: none !important;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border-radius: 0;
  background: none;
}
/* line 399, ../sass/app.scss */
.button.play {
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.35);
}
/* line 405, ../sass/app.scss */
.button.play:hover {
  background: #004455 !important;
  transform: scale(1.1) !important;
}
/* line 409, ../sass/app.scss */
.button.play:before {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  border-style: solid;
  border-width: 0.6rem 0 0.6rem 1.1rem;
  border-color: transparent transparent transparent white;
}
/* line 420, ../sass/app.scss */
.button.filled {
  color: white;
  background: #00728e;
}

/* --------------------------------------------
OVERLAP SECTION
----------------------------------------------*/
/* line 430, ../sass/app.scss */
.overlap {
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 4px;
  position: relative;
  top: -60px;
}

/* line 440, ../sass/app.scss */
.overlap-section {
  background-color: whitesmoke;
  height: 250vh;
  width: 100%;
  margin-top: -230vh;
}

/* --------------------------------------------
IMAGES
----------------------------------------------*/
/* line 451, ../sass/app.scss */
.imageContainer {
  width: 70%;
  padding-top: 1em;
}

/* --------------------------------------------
CAST SECTION
----------------------------------------------*/
/* line 460, ../sass/app.scss */
.cast-container {
  margin: 0 0 -1px 0;
  cursor: pointer;
  padding: 0 !important;
  overflow: hidden;
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
  -moz-transition: -moz-transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
  transition: transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
}
/* line 469, ../sass/app.scss */
.cast-container .vertical-caption {
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  text-align: right;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 476, ../sass/app.scss */
.cast-container .vertical-caption h5 {
  font-size: 1.0rem;
  color: white;
  line-height: 1.1;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
/* line 485, ../sass/app.scss */
.cast-container .cast-container-inner {
  height: 100%;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* line 488, ../sass/app.scss */
.cast-container .cast-container-inner img {
  width: 100%;
}
/* line 491, ../sass/app.scss */
.cast-container .cast-container-inner:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 494, ../sass/app.scss */
.cast-container .cast-container-inner:hover:before {
  opacity: 0.1;
}
/* line 497, ../sass/app.scss */
.cast-container .cast-container-inner:hover .cast-link {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
/* line 502, ../sass/app.scss */
.cast-container .cast-container-inner:before {
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* line 505, ../sass/app.scss */
.cast-container .cast-container-inner .cast-link {
  position: absolute;
  right: 0;
  bottom: 3em;
  left: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  width: 100%;
  text-align: center;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 512, ../sass/app.scss */
.cast-container .cast-container-inner .cast-link a {
  text-decoration: none;
}
/* line 515, ../sass/app.scss */
.cast-container .cast-container-inner .cast-link h5 {
  font-size: 0.93rem;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 521, ../sass/app.scss */
.cast-container .cast-container-inner .cast-link:hover p {
  font-weight: 700;
}

/* line 528, ../sass/app.scss */
.vertical-caption p {
  font-size: 1em;
  color: white;
  margin: 0;
}

/* --------------------------------------------
GALLERY
----------------------------------------------*/
/* line 538, ../sass/app.scss */
.galleryArea {
  padding: 0;
}
/* line 540, ../sass/app.scss */
.galleryArea .sectionTitle {
  margin-bottom: 2em;
}

/* line 544, ../sass/app.scss */
.galleryItem {
  position: relative;
  overflow: hidden;
  margin: 0;
  background: black;
  text-align: center;
  cursor: pointer;
}
/* line 551, ../sass/app.scss */
.galleryItem a {
  position: relative;
  display: block;
  z-index: 1;
}
/* line 556, ../sass/app.scss */
.galleryItem img {
  position: relative;
  display: block;
  opacity: 0.8;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
}
/* line 567, ../sass/app.scss */
.galleryItem:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

/* line 574, ../sass/app.scss */
.reveal-overlay {
  background-color: rgba(10, 10, 10, 0.85);
}
/* line 576, ../sass/app.scss */
.reveal-overlay .reveal {
  margin-top: 10%;
  overflow-y: visible;
}
/* line 580, ../sass/app.scss */
.reveal-overlay .close-button {
  padding: .5rem;
  line-height: 2.3rem;
  font-size: 4rem;
  color: white;
  background-color: #004455;
  border-radius: 2rem;
  right: -1.5rem;
  top: -1.5rem;
}

/* --------------------------------------------
VIDEOS SECTION
----------------------------------------------*/
/* line 598, ../sass/app.scss */
.split-section.offset-image {
  padding: 3em;
}
/* line 601, ../sass/app.scss */
.split-section.onset-image {
  padding: 3em;
}
/* line 604, ../sass/app.scss */
.split-section h3 {
  font-size: 1.5em !important;
}
/* line 607, ../sass/app.scss */
.split-section .second-row {
  margin-top: 3em;
}
/* line 610, ../sass/app.scss */
.split-section .columns.v-middle {
  display: table-cell;
  width: 50%;
  height: 100%;
  padding-top: 6.0rem;
  padding-bottom: 6.0rem;
  float: none !important;
  position: relative;
  z-index: 1;
}

/* line 621, ../sass/app.scss */
.overlay-color::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* line 630, ../sass/app.scss */
.video-placeholder {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 9.5rem 0 rgba(0, 0, 0, 0.35);
}
/* line 637, ../sass/app.scss */
.video-placeholder img {
  width: 100%;
}
/* line 640, ../sass/app.scss */
.video-placeholder a {
  position: initial;
}
/* line 643, ../sass/app.scss */
.video-placeholder.video-box span.button {
  position: absolute;
  top: 33%;
  right: 0;
  left: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  border: none !important;
}

/* line 650, ../sass/app.scss */
.videobgImg {
  z-index: -100;
}

/* line 653, ../sass/app.scss */
.video-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 657, ../sass/app.scss */
.play:hover {
  background: #004455;
  border: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

/* --------------------------------------------
CONTACT SECTION
----------------------------------------------*/
/* line 669, ../sass/app.scss */
.contactTitle {
  padding: 1em 0 2em;
}

/* line 672, ../sass/app.scss */
form {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 677, ../sass/app.scss */
[type='text'],
[type='email'],
textarea,
input,
input::placeholder {
  font-family: "Electrolize", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  color: black;
  font-weight: 300;
  line-height: 1.7;
  width: 100%;
  padding: 0.9em;
  margin: 0 0 1.2em;
  outline: none;
  height: auto;
  border: 1px solid #e0e0e0;
  background-color: white;
}

/* line 684, ../sass/app.scss */
.form {
  margin-bottom: 4.0em;
}

/* line 687, ../sass/app.scss */
button {
  font-family: "Electrolize", sans-serif;
  font-size: 1rem;
  color: #00728e;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 0.79rem 3rem;
  cursor: pointer;
  position: relative;
  text-decoration: none !important;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border-radius: 0;
  background: none;
}
/* line 704, ../sass/app.scss */
button.filled {
  color: white;
  background: #00728e;
}
/* line 708, ../sass/app.scss */
button:hover {
  background: #004455 !important;
}

/* --------------------------------------------
FOOTER
----------------------------------------------*/
/* line 717, ../sass/app.scss */
footer {
  display: table;
  padding: 2.0em 0;
  width: 100%;
  position: relative;
}
/* line 722, ../sass/app.scss */
footer ul {
  margin: 0 !important;
}
/* line 725, ../sass/app.scss */
footer.footer {
  background: black;
}
/* line 727, ../sass/app.scss */
footer.footer p {
  margin-top: 2.0em !important;
}
/* line 729, ../sass/app.scss */
footer.footer p.copyright {
  padding: 0.7em 0 0;
  margin-top: 0 !important;
}
/* line 735, ../sass/app.scss */
footer p {
  font-size: 0.87rem;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 !important;
  display: block;
}
/* line 742, ../sass/app.scss */
footer p.copyright {
  font-size: 0.7rem;
  text-transform: uppercase;
}
/* line 745, ../sass/app.scss */
footer p.copyright a {
  font-size: inherit;
  color: white;
  font-weight: 800;
  text-decoration: none;
}
/* line 750, ../sass/app.scss */
footer p.copyright a:hover {
  text-decoration: underline;
}
/* line 756, ../sass/app.scss */
footer span {
  font-size: 0.87rem;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 !important;
  display: block;
}

/* --------------------------------------------
OVERLAYS
----------------------------------------------*/
/* line 770, ../sass/app.scss */
[data-overlay]:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* line 779, ../sass/app.scss */
[data-overlay="0"]:before {
  opacity: 0;
}

/* line 782, ../sass/app.scss */
[data-overlay="1"]:before {
  opacity: 0.1;
}

/* line 785, ../sass/app.scss */
[data-overlay="2"]:before {
  opacity: 0.2;
}

/* line 788, ../sass/app.scss */
[data-overlay="3"]:before {
  opacity: 0.3;
}

/* line 791, ../sass/app.scss */
[data-overlay="4"]:before {
  opacity: 0.4;
}

/* line 794, ../sass/app.scss */
[data-overlay="5"]:before {
  opacity: 0.5;
}

/* line 797, ../sass/app.scss */
[data-overlay="6"]:before {
  opacity: 0.6;
}

/* line 800, ../sass/app.scss */
[data-overlay="7"]:before {
  opacity: 0.7;
}

/* line 803, ../sass/app.scss */
[data-overlay="8"]:before {
  opacity: 0.8;
}

/* line 806, ../sass/app.scss */
[data-overlay="9"]:before {
  opacity: 0.9;
}

/* line 809, ../sass/app.scss */
[data-overlay="10"]:before {
  opacity: 1;
}

/* --------------------------------------------
BACK TO TOP
----------------------------------------------*/
/* line 817, ../sass/app.scss */
.backtotop {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #004455 url(https://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 835, ../sass/app.scss */
.backtotop .btop-is-visible {
  /* the button becomes visible */
  visibility: visible !important;
  opacity: 1 !important;
}
/* line 840, ../sass/app.scss */
.backtotop .btop-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
/* line 844, ../sass/app.scss */
.backtotop:hover {
  background-color: #004455;
  opacity: 1;
}

/* line 900, ../sass/app.scss */
.reveal-from-bottom {
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
  -moz-transition: -moz-transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
  transition: transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s;
}
