/* --------------------------------------------
Foundation Basic Override
----------------------------------------------*/
@media screen and (max-width: 40em) {
  /* line 8, ../sass/mediaQueries.scss */
  .hide-for-small-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1023px) {
  /* line 14, ../sass/mediaQueries.scss */
  .cell-spacing-mb30 {
    margin-bottom: 3.0em;
  }
}
@media screen and (min-width: 31.25em) and (max-width: 40em) {
  /* line 20, ../sass/mediaQueries.scss */
  .cast-container {
    width: 50% !important;
  }
}
/* --------------------------------------------
Basic Typography
----------------------------------------------*/
@media print, screen and (min-width: 50em) {
  /* line 30, ../sass/mediaQueries.scss */
  h1 {
    font-size: 4.1rem;
  }

  /* line 33, ../sass/mediaQueries.scss */
  h2 {
    font-size: 3.1rem;
  }

  /* line 36, ../sass/mediaQueries.scss */
  h3 {
    font-size: 2.1rem !important;
  }

  /* line 39, ../sass/mediaQueries.scss */
  h4 {
    font-size: 1.4rem;
  }

  /* line 42, ../sass/mediaQueries.scss */
  h5 {
    font-size: 0.9rem;
  }

  /* line 45, ../sass/mediaQueries.scss */
  h6 {
    font-size: 0.8rem;
  }

  /* line 48, ../sass/mediaQueries.scss */
  .hide-for-large {
    display: none !important;
  }
}
/* --------------------------------------------
min-width 40em
----------------------------------------------*/
@media screen and (min-width: 40em) {
  /* line 58, ../sass/mediaQueries.scss */
  section {
    padding: 4em;
  }

  /* line 61, ../sass/mediaQueries.scss */
  .sectionTitle {
    padding-bottom: 4rem;
  }

  /* line 64, ../sass/mediaQueries.scss */
  .imageContainer {
    width: 100%;
    padding-top: 0;
  }

  /* line 68, ../sass/mediaQueries.scss */
  .reveal.medium {
    max-width: 75rem;
  }

  /* line 71, ../sass/mediaQueries.scss */
  .reveal.small {
    width: 40%;
    max-width: 75rem;
  }

  /* line 75, ../sass/mediaQueries.scss */
  .callaction {
    padding: 3rem;
  }

  /* line 78, ../sass/mediaQueries.scss */
  .video-section {
    padding: 3em;
  }

  /* line 81, ../sass/mediaQueries.scss */
  .video-placeholder {
    width: 60% !important;
    padding-bottom: 3rem;
  }

  /* line 85, ../sass/mediaQueries.scss */
  .homeLogo {
    width: 40%;
  }

  /* line 89, ../sass/mediaQueries.scss */
  .callaction:hover h3 {
    transform: scale(1.2, 1.2);
  }
}
/* --------------------------------------------
min-width 50em
----------------------------------------------*/
@media screen and (min-width: 50em) {
  /* line 103, ../sass/mediaQueries.scss */
  .playButton {
    padding-top: 40px;
  }

  /* line 108, ../sass/mediaQueries.scss */
  header.small .logo {
    width: 70%;
  }
  /* line 111, ../sass/mediaQueries.scss */
  header.small {
    background-color: transparent;
    border-bottom: 0;
  }

  /* line 116, ../sass/mediaQueries.scss */
  #mobileMenu {
    display: none !important;
  }

  /* line 119, ../sass/mediaQueries.scss */
  .mobile-icon {
    display: none !important;
  }

  /* line 122, ../sass/mediaQueries.scss */
  .logo {
    width: 100%;
  }
}
/* --------------------------------------------
min-width 60em
----------------------------------------------*/
@media screen and (min-width: 60em) {
  /* line 134, ../sass/mediaQueries.scss */
  .button.play {
    width: 5.5rem;
    height: 5.5rem;
  }

  /* line 138, ../sass/mediaQueries.scss */
  #cover_video video {
    width: 70%;
    margin-top: 10%;
  }

  /* line 142, ../sass/mediaQueries.scss */
  .close-lightbox {
    right: 15%;
    top: 17%;
  }
}
/* --------------------------------------------
min-width 64em
----------------------------------------------*/
@media screen and (min-width: 64em) {
  /* line 154, ../sass/mediaQueries.scss */
  .top-bar {
    padding-left: 4em;
    padding-right: 4em;
  }

  /* line 158, ../sass/mediaQueries.scss */
  .playButton {
    padding-top: 50px;
  }

  /* line 161, ../sass/mediaQueries.scss */
  .homeLogo {
    width: 25%;
    padding-bottom: 10rem;
  }
}
/* --------------------------------------------
min-width 75em
----------------------------------------------*/
@media screen and (min-width: 75em) {
  /* line 175, ../sass/mediaQueries.scss */
  .playButton {
    padding-top: 70px;
  }

  /* line 178, ../sass/mediaQueries.scss */
  #cover_video video {
    width: 60%;
    margin-top: 5%;
  }

  /* line 182, ../sass/mediaQueries.scss */
  .close-lightbox {
    right: 20%;
    top: 10.5%;
  }
}
/* --------------------------------------------
OTHERS
----------------------------------------------*/
@media screen and (max-width: 50em) {
  /* line 193, ../sass/mediaQueries.scss */
  #mainMenu {
    display: none !important;
  }
}
